In [54]:
import pandas as pd

import numpy as np

import datetime

pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data as web
import pandas_datareader.data as web

import eikon as ek

In [5]:
#Initialize Eikon API to get data
ek.set_app_key("a6fae6ed23374fb6957c0df6c34e04b329c2a18d")

In [44]:
#Get timeseries data

#https://pypi.org/project/eikon/
df = ek.get_timeseries(['AAPL.O', 'IBM.N', 'FB.O','NVDA.O','JNJ.N','HD.N','V.N','BAC.N','PFE.N','COST.O','KO.N','WMT.N','MCD.N','NKE.N','FDX.N','MCO.N'],fields='CLOSE', start_date="2013-01-31", end_date="2022-01-31",  interval='monthly')
df

CLOSE,AAPL.O,IBM.N,FB.O,NVDA.O,JNJ.N,HD.N,V.N,BAC.N,PFE.N,COST.O,KO.N,WMT.N,MCD.N,NKE.N,FDX.N,MCO.N
Date,,,,,,,,,,,,,,,,
2013-01-31,16.267484,193.965153,30.981,3.065,73.92,66.92,39.4775,11.32,25.860049,92.779909,37.24,69.95,95.29,27.025,101.45,54.82
2013-02-28,15.76427,191.825586,27.25,3.165,76.11,68.5,39.66,11.23,25.945364,91.827994,38.72,70.78,95.9,27.23,105.43,48.06
2013-03-31,15.80927,203.736481,25.58,3.2075,81.53,69.78,42.46,12.18,27.357808,96.197734,40.44,74.83,99.69,29.505,98.2,53.32
2013-04-30,15.813556,193.458917,27.769,3.4425,85.23,73.35,42.115,12.31,27.556877,98.301011,42.33,77.72,102.14,31.8,94.01,60.85
2013-05-31,16.061948,198.693215,24.348,3.6175,84.18,78.66,44.535,13.66,25.812651,99.38982,39.99,74.84,96.57,30.83,96.34,66.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,141.5,132.700935,339.39,207.16,161.5,328.26,222.75,42.45,43.01,449.35,52.47,139.38,241.11,145.23,219.29,355.11
2021-10-31,149.8,119.491016,323.57,255.67,162.88,371.74,211.77,47.78,43.74,491.54,56.37,149.42,245.55,167.29,235.53,404.15
2021-11-30,165.3,117.1,324.46,326.76,155.93,400.61,193.77,44.47,53.73,539.38,52.45,140.63,244.6,169.24,230.37,390.64
2021-12-31,177.57,133.66,336.35,294.11,171.07,415.01,216.71,44.49,59.05,567.7,59.21,144.69,268.07,166.67,258.64,390.58
2022-01-31,174.78,133.57,313.26,244.86,172.29,366.98,226.17,46.14,52.69,505.13,61.01,139.81,259.45,148.07,245.86,343.0

In [51]:
df.to_csv(path_or_buf='/Users/Nicolai Søndergaard/Desktop/Master Folder/ZHAW/2nd semester/AQM/Stock_data.csv')

In [69]:
import datetime
start = datetime.datetime(2013, 1, 31)
end = datetime.datetime(2022, 2, 28)

variables = web.DataReader(['CPIAUCSL', 'WTISPLC','T5YIFRM','MRTSSM44X72USS','INDPRO','SPCS20RSA','UNRATE','M2SL','PPIACO','FEDFUNDS'], 'fred', start, end)
variables

,CPIAUCSL,WTISPLC,T5YIFRM,MRTSSM44X72USS,INDPRO,SPCS20RSA,UNRATE,M2SL,PPIACO,FEDFUNDS
DATE,,,,,,,,,,
2013-02-01,232.937,95.32,2.86,417159.0,98.6458,149.565720,7.7,10479.1,204.300,0.15
2013-03-01,232.282,93.05,2.85,414092.0,99.0597,150.963775,7.5,10547.2,204.000,0.14
2013-04-01,231.797,92.07,2.73,412237.0,98.9927,153.861409,7.6,10583.2,203.500,0.15
2013-05-01,231.893,94.80,2.60,414309.0,99.0726,156.001708,7.5,10625.4,204.100,0.11
2013-06-01,232.445,95.80,2.31,415742.0,99.2065,157.830704,7.5,10682.2,204.300,0.09
...,...,...,...,...,...,...,...,...,...,...
2021-10-01,276.590,81.48,2.33,638102.0,101.2169,279.496655,4.6,21200.5,240.465,0.08
2021-11-01,278.524,79.15,2.25,642636.0,102.0298,283.026535,4.2,21407.2,243.272,0.08
2021-12-01,280.126,71.71,2.17,625459.0,101.6188,287.089284,3.9,21553.1,241.321,0.08
2022-01-01,281.933,83.22,2.10,656117.0,103.0309,292.243042,4.0,21728.9,245.407,0.08
2022-02-01,284.182,91.64,2.05,NaN,103.5811,NaN,3.8,21811.8,252.838,0.08

In [74]:
variables.to_csv(path_or_buf='/Users/Nicolai Søndergaard/Desktop/Master Folder/ZHAW/2nd semester/AQM/Macro_data.csv')

In [75]:
pd.read_csv("Macro_data.csv")

,DATE,CPIAUCSL,WTISPLC,T5YIFRM,MRTSSM44X72USS,INDPRO,SPCS20RSA,UNRATE,M2SL,PPIACO,FEDFUNDS
0,2013-02-01,232.937,95.32,2.86,417159.0,98.6458,149.565720,7.7,10479.1,204.300,0.15
1,2013-03-01,232.282,93.05,2.85,414092.0,99.0597,150.963775,7.5,10547.2,204.000,0.14
2,2013-04-01,231.797,92.07,2.73,412237.0,98.9927,153.861409,7.6,10583.2,203.500,0.15
3,2013-05-01,231.893,94.80,2.60,414309.0,99.0726,156.001708,7.5,10625.4,204.100,0.11
4,2013-06-01,232.445,95.80,2.31,415742.0,99.2065,157.830704,7.5,10682.2,204.300,0.09
...,...,...,...,...,...,...,...,...,...,...,...
104,2021-10-01,276.590,81.48,2.33,638102.0,101.2169,279.496655,4.6,21200.5,240.465,0.08
105,2021-11-01,278.524,79.15,2.25,642636.0,102.0298,283.026535,4.2,21407.2,243.272,0.08
106,2021-12-01,280.126,71.71,2.17,625459.0,101.6188,287.089284,3.9,21553.1,241.321,0.08
107,2022-01-01,281.933,83.22,2.10,656117.0,103.0309,292.243042,4.0,21728.9,245.407,0.08
108,2022-02-01,284.182,91.64,2.05,NaN,103.5811,NaN,3.8,21811.8,252.838,0.08